{extend name="app" /}

{block name="title"}添加权限{/block}
{block name="body"}
<div class="col-xs-12">
    <p>
        <a href="{:url('admin/permission/index')}" class="btn btn-primary">返回权限列表</a>
    </p>

</div>

<div class="col-xs-12">
    <form action=""  name="permission" method="post" class="form-horizontal">

        <div class="form-group">
            <label >
                权限名
            </label>
            <input type="text" name="name"  class="form-control"  placeholder="请输入权限名"  >

        </div>

        <div class="form-group">
            <label >
                权限描述
            </label>
            <input type="text" name="description"  class="form-control"  placeholder="请输入权限描述"  >

        </div>

        <div class="form-group">
            <label >
                访问方法
            </label>

            <select  class="form-control"  name="method">
                　<option value="ANY">Any</option>
                　<option value="POST">post</option>
                　<option value="GET">get</option>
            </select>

       <!--<input type="text" name="method"  class="form-control"  placeholder="请输入访问方法" >-->

        </div>

        <div class="form-group">
            <label >
                访问地址
            </label>
            <input type="text" name="preg_url"  class="form-control"  placeholder="请输入访问地址"  >

        </div>

        <div class="form-group">
            <button type="submit" name="permission" class="btn btn-primary">添加</button>

        </div>
    </form>
</div>
{/block}