{extend name="app" /}

{block name="title"}用户{/block}
{block name="body"}
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">
                用户中心
            </h1>
        </div>
        <div class="col-xs-12">
            {volist name="users" id="item"}

            <div class="panel panel-body">
                {$item->name}
            </div>
            {/volist}
        </div>

        <div class="col-sx-12 text-center">
            {:htmlspecialchars_decode($users->render())}
        </div>
    </div>

    <div class="row">
        <civ class="col-xs-12 text-center">
            <p style="line-height: 80px;">CopyRight users.cn</p>
        </civ>
    </div>

</div>
{/block}